* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #282c34;
    padding: 60px;
}

input {
    font-size: 1.2rem;
    color: grey;
    width: 100%;
    background-color: darkslategrey;
    border: none;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ol{
    padding: 0;
}


.card {
    background-color: darkslategrey;
    border: 1px solid #282c34;
    border-radius: 6px;
    margin: 10px auto;
    overflow: hidden;
    width: 200px;
    cursor: pointer;
}

.card p {
    padding: 5px;
    text-align: center;
    color:grey;
    font-weight: bolder;
}

.card img {
    width: 200px;
}

#nombreApp{
    color: white;
    text-align: center;
}

.nombreBusqueda{
    color:whitesmoke;
    text-align: center;
}

#cargando{
    color:whitesmoke;
    text-align: center;
}